cscope.*
tags

configure
stamp-*

Makefile
Makefile.in
config.*
.deps
.libs
*.o
*.lo
*.la

*.swp

doc/html/
doc/libtimecode.xcf
doc/xslate.xcf
doc/man/man3/mainpage.dox.3

libtimecode-[0-9\.]*.tar.gz

tests/tctest

atconfig
depcomp
compile
aclocal.m4
libtool
missing
ltmain.sh
install-sh

autom4te.cache/

timecode.pc
Doxyfile

insp/
